/* Give your page a fun background color */

/* Make the header and footer a different color from the background */

/* Align the h1 containing your name in the center of the header*/

/* Make your p tag a different color and italic */

/* Put a border around your image */

/* Change the font-family of your list */
body {
    background-color: #EDDBC0;
}

header {
    background-color: #3F4E4F;
    text-align: center;
    padding-bottom: 20px;
}

footer {
    background-color: #2C3639;
    color: white;
}

p {
    font-style: italic;
}

img {
    border: black;
    border-style: solid;
    border-radius: 50%;
    margin-top: 50px;
}

ul {
    font-family: cursive;
    font-size: 40px;
}